<%
title = 'Node EJS interface 3'
description = 'basic UI functionality for the node projects'
%>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' type='text/css' href='./stylesheets/ui.css' />
    <script src='./javascripts/jquery/jquery-3.4.1.min.js' ></script>
    <script src="./javascripts/q/q.js"></script>
    <script src='./javascripts/ui3.js' ></script>
</head>
<body>
    
    <h1><%= title %></h1>
    <div>
        <h3>Addition</h3>
        <span><input id='addition-x' type='number'/> + </span>
        <span><input id='addition-y' type='number'/> = </span>
        <span id='addition-equals'></span>
    </div>
    <br/>
    <div>
        <h3>Subtraction</h3>
        <span><input id='subtraction-x' type='number'/> - </span>
        <span><input id='subtraction-y' type='number'/> = </span>
        <span id='subtraction-equals'></span>
    </div>
    <br/>
    <div>
        <h3>Multiplication</h3>
        <span><input id='multiplication-x' type='number'/> x </span>
        <span><input id='multiplication-y' type='number'/> = </span>
        <span id='multiplication-equals'></span>
    </div>
    <br/>
    <div>
        <h3>Division</h3>
        <span><input id='division-x' type='number'/> / </span>
        <span><input id='division-y' type='number'/> = </span>
        <span id='division-equals'></span>
    </div>


</body>